name: build
on:
  push:
    branches: [main]
    paths:
      - bited-build.toml
      - src/**
      - flake.nix
      - flake.lock
      - default.nix
      - .github/workflows/build.yml
  pull_request:
    branches: [main]
    paths:
      - bited-build.toml
      - src/**
      - flake.nix
      - flake.lock
      - default.nix
      - .github/workflows/build.yml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - run: nix build .#kirsch
      - name: artifacts
        uses: actions/upload-artifact@v6
        with:
          name: kirsch
          path: result/share/fonts
