name: img
on:
  push:
    paths:
      - bited-img.toml
      - src/**
      - txt/**
      - flake.nix
      - flake.lock
      - img.nix
      - .github/workflows/img.yml
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  img:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - run: nix run .#kirsch-img
      - name: push
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: img txt
          commit_message: 'chore: auto-generate images'
